@font-face {
    font-family: "dana-bold";
    src: url("../font-icon/static/Dana-Bold.ttf");
}

@font-face {
    font-family: "dana-regular";
    src: url("../font-icon/static/Dana-Regular.ttf");
}

@font-face {
    font-family: "dana-medium";
    src: url("../font-icon/static/Dana-Medium.ttf");
}

@font-face {
    font-family: "dana-thin";
    src: url("../font-icon/static/Dana-Thin.ttf");
}

.owl-stage {
    width: max-content !important;
}

.owl-next {
    position: absolute;
    top: 45%;
    transform: translate(40%, -40%);
    right: 10px !important;
    width: 48px;
    height: 48px;
    text-align: center !important;
    padding: 8px;
}

.owl-prev {
    position: absolute;
    top: 45%;
    transform: translate(-40%, -40%);
    left: 10px !important;
    width: 48px;
    height: 48px;
    padding: 8px;
    text-align: center !important;
}

.owl-dots {
    text-align: center;
    background-color: transparent;
    padding-top: 5px;
}

.owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    background-color: rgb(218, 214, 214) !important;
    width: 7px;
    height: 7px;
    margin: 0px 3px;
    border-radius: 100%;
}

.owl-dots .owl-dot.active {
    background-color: var(--green-color) !important;
}

body,
*:not(i) {
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: "dana-regular" !important;
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none !important;
}

:root {
    --main-color: rgb(51, 41, 41);
    --green-color: #112031;
    --rate-color: #c6ee17;
}

button {
    outline: none !important;
    border: none !important;
}

input {
    outline: none !important;
    border: none !important;
}

a {
    text-decoration: none !important;
}

body {
    background-color: #f8f8fc !important;
}

.color78 {
    color: #787878 !important;
}

.line-clamp {
    overflow: hidden;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    white-space: normal;
    text-align: justify;
}

.custom-bg {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px #e3e1e9;
}

.custom-btn {
    padding: 0px 10px;
    white-space: nowrap;
    border: 2px solid var(--green-color);
    border-radius: 10px;
    height: 35px !important;
    background-color: var(--green-color);
    color: rgb(224, 222, 222);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    width: fit-content;
    font-size: 15px;
}

.custom-btn:hover {
    color: rgb(255, 255, 255);
}

.font14 {
    font-size: 14px;
    color: #787878;
}

::-webkit-scrollbar {
    width: 10px;
}

@media (max-width: 767px) {
    ::-webkit-scrollbar {
        width: 0px;
    }
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #112031;
}

::-webkit-scrollbar-thumb {
    background: #112031 !important;
    border-radius: 22px !important;
    height: 15px !important;
    -webkit-border-radius: 22px !important;
    -moz-border-radius: 22px !important;
    -ms-border-radius: 22px !important;
    -o-border-radius: 22px !important;
}

.shadow {
    background-color: #1e2f38;
    z-index: 15;
    opacity: 0.5;
    transition: all 0.2s ease-out;
    display: none;
}

.shadow.showShadow {
    display: block;
}

/* end primary css */

.nav-header-box {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 122;
    width: 100%;
    height: 80px;
    transition: all 0.3s ease-in-out;
    background-color: white;
    box-shadow: rgba(137, 135, 135, 0.05) -1px 4px 15px 3px;
}

.nav-menu-pc{
    width: 100%;
    z-index: 26;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    position: fixed;
    top: 80px;
    transition: all .3s ease-in-out; 
}

.nav-menu a {
    color: #576b6e;
    font-size: 15px;
    transition: all 0.3s ease-in-out;

}

.nav-menu-item {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu a:hover {
    color: #112031;
}

/* sub-menu */

.sub-menu {
    position: fixed;
    top: 160px;
    background-color: white;
    box-shadow: rgb(56 56 56 / 5%) -1px 4px 15px 3px;
    display: none;
    min-width: 200px;
    z-index: 3;
}

.sub-menu a {
    padding: 8px 10px;
    display: block;
}

.menu-item:hover .sub-menu {
    display: block;
}

/* end sub-menu */
/* nav search btn */
.nav-search-btn {
    white-space: nowrap;
    cursor: pointer;
    color: #787878;
    height: 40px;
    position: relative;
}
@media (max-width:768px){
    .nav-search-btn{
        width: 91%;
        margin: 0px 20px 20px 20px;
    }
}

.nav-search-btn i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    background-color: #112031;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.nav-search-btn input {
    width: 200px;
    padding: 0px 15px 0px 45px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: rgb(238, 235, 235);
    color: var(--nav-search-btn-color);
}

.logo {
    width: 130px;
    height: 40px;
    overflow: hidden;
}

.logo img {
    width: 130px;
    height: 40px;
}

/* notification */
.notification-img {
    width: 30px;
    height: 30px;
}

.badge {
    position: absolute;
    bottom: 0px;
    right: -8px;
    background-color: red;
    padding: 5px;
    font-size: 14px;
    border-radius: 7px;
    color: white;

}

.notification-box:hover .notification-menu-items {
    display: block;
}

.notification-menu-items {
    min-width: 200px;
    padding: 0px 7px;
    border: none;
    margin-top: -3px;
}

.notification-menu-items a {
    color: #112031;
    padding: 6px;
    margin-top: 4px;
    border-radius: 7px;
    font-size: 14px;
    display: block;
}

.notification-menu-items a:hover {
    background-color: #f3f3f3;
}

/* end notification */

/* login-btn */
.account-btn {
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #112031;
    background-color: white;
    height: 40px;
    border-radius: 12px;
    border: 2px solid #112031;
    transition: all .3s ease-in-out;

}

.account-btn:hover {
    color: white;
    background-color: #112031;
}

.prepend-icon {
    white-space: nowrap;
}

.account-menu-items {
    border: none;
    margin-top: 0px;
    padding: 7px
}

.account-menu-items a {
    color: #112031;
    padding: 6px;
    margin-top: 4px;
    border-radius: 7px;
    font-size: 14px;
    display: block;
}

.account-menu-items a:hover {
    background-color: #f3f3f3;
}

.notification-box:hover .account-menu-items {
    display: block;
}

/* end account-btn */

/* nav mob */
@media (max-width: 768px) {
    .mob1 {
        display: block;
        z-index: 23;
        height: 100vh;
        position: fixed;
        width: 70% !important;
        right: -100%;
        background-color: white;
        box-shadow: rgb(56 56 56 / 5%) -1px 4px 15px 3px;
        overflow-y: scroll;
    }

    .nav-header-box .logo {
        width: 100%;
        margin: 30px 0px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: flex-start;
        margin: 20px 0px !important;
    }
    .nav-menu li{
        width: 90%;
    }
    .nav-menu-item-mob{
        display: flex;
        align-items: center;
    }
    .nav-menu a{
        display: block;
        margin-bottom: 7px;
    }
    .sub-menu-mob{
        background-color: #f1f1f3;
        width: 100% !important;
        display: block !important;
        margin-bottom: 10px;
        max-height: 0px;
        overflow: hidden;
        transition: all .3s ease-in-out;
    }
    .sub-menu-mob a {
        padding: 5px 10px;
    }
    .sub-menu-mob.showsubmenumob{
        max-height: 1000px;
    }

    .showmenu {
        right: 0%;
    }
}

/* mobile header */
.nav-header-box-mob {
    align-items: center !important;
    justify-content: space-between !important;
    height: 80px;
    width: 100%;
    z-index: 4;
    background-color: white;
    box-shadow: rgb(56 56 56 / 5%) -1px 4px 15px 3px;
}

.nav-header-box-mob .logo {
    display: flex !important;
    position: relative;
    right: 50%;
    transform: translate(50%);
}


.hamburger-icon {
    position: fixed;
    top: 20px;
    right: 20px;
}

.hamburger-icon div {
    width: 35px;
    height: 5px;
    background-color: var(--main-color);
    margin: 6px 0;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* main */
main {
    padding-top: 160px;
}
@media (max-width:768px){
    main{
        padding-top: 80px;
    }
}

.title-section {
    font-family: 'dana-bold' !important;
    font-size: 30px;
}

.video-card {
    height: 180px;
    margin-bottom: 7px;
    overflow: hidden;
    border-radius: 0px;
    width: 100%;
    position: relative;
}

.video-card img {
    border-radius: 5px;
    transition: all .3s ease-in-out;
    outline: none;
}

.video-play-btn {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    color: white;
    z-index: 2;
    font-size: 25px;
}

.video-card:hover img {
    transform: scale(1.1);
}

.video-category-time {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
}

.video-category-time h6 {
    background-color: #fff;
    border-radius: 3px;
    border-top-right-radius: 0px;
    color: #152D35;
    padding: 3px 10px;
    font-size: 15px;
    z-index: 2;
    height: 25px;
}

.video-category-time .vid-time {
    background-color: #fff;
    border-radius: 3px;
    border-top-left-radius: 0px;
    color: #152D35;
    padding: 3px 10px;
    z-index: 2;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.video-card:hover .vid-time {
    opacity: 1;
}

.video-card-details {
    position: absolute;
    padding: 0px 6px;
    bottom: 0px;
    width: 100%;
    color: #fff;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.video-card-details h5 {
    overflow: hidden;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    font-size: 12px;
}

.video-card-details span {
    color: #f1eeee;
}

.article-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(169, 208, 113, 0), rgb(30, 30, 31));
    border-radius: 7px;
}

.video-card-title {
    overflow: hidden;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    color: #112031;
    font-size: 16px;
    font-family: "dana-medium"
}


/* footer */
footer {
    background-color: #112031;
}

.footer-btn {
    padding: 5px 25px;
    background-color: white;
    color: #4b8673;
    border-radius: 6px;
}

footer .news h6 {
    font-size: 14px;
    margin-bottom: 5px;
}

footer .news form {
    position: relative;
    height: 40px;
    width: 200px;
}

footer .news form input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    font-size: 13px;
    padding: 0px 3px;
}

footer .news form button {
    position: absolute;
    top: 10%;
    left: 0px;
}

.footer-items a {
    color: white;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
    margin: 10px 0px !important;
    display: block;
}

.footer-items a:hover {
    color: wheat;
}

.footer-items .social-media i {
    font-size: 25px;
    margin: 0px 5px;
}

/* all videos page */
.pagination a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #112031 !important;
    color: #ffffff ;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}
.pagination a:hover{
    color: yellow;
}

.pagination a.active {
    color: yellow !important;
}